@font-face {
  font-family: "8bitOperatorPlus-Bold";
  src: url(src/assets/fonts/8bitOperatorPlus-Bold.woff);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "8bitOperatorPlus-Regular";
  src: url(src/assets/fonts/8bitOperatorPlus-Regular.woff);
  font-weight: 400;
  font-style: normal;
}

:root {
  margin: 0;
  padding: 0;
  font-family: "8bitOperatorPlus-Regular", "monospace";
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --device-green-light: #00ff00;
  --device-green-dark: #008000;
  --text-shadow-color: #000080;
}

body {
  margin: 0;
  padding: 0;
  background-color: #000;
  color: white;
}
p {
  margin: 0;
}

.bold {
  font-family: "8bitOperatorPlus-Bold", "8bitOperatorPlus-Regular", "monospace";
}
